In [2]:
import os
import gzip

## Link for downloading datasets 

** https://github.com/zalandoresearch/fashion-mnist **

In [6]:
Path = "Z://Python/datasets/Fashion-MNIST/"

In [7]:
os.listdir(Path)

['t10k-images-idx3-ubyte.gz',
 't10k-labels-idx1-ubyte.gz',
 'train-images-idx3-ubyte.gz',
 'train-labels-idx1-ubyte.gz']

In [10]:
for each_file in os.listdir(Path):
    with gzip.open(Path + each_file, 'rb') as f_in:
        with gzip.open(Path + each_file.replace('.gz','') , 'wb') as f_out:
            f_out.write(f_in.read())

In [11]:
!pip install python-mnist

Collecting python-mnist
  Downloading https://files.pythonhosted.org/packages/05/9c/f1c1e4d011b01ac436bba0ac6715b3f988bb7f8fec6f21f89cf820aa33e1/python-mnist-0.6.tar.gz
Building wheels for collected packages: python-mnist
  Running setup.py bdist_wheel for python-mnist: started
  Running setup.py bdist_wheel for python-mnist: finished with status 'done'
  Stored in directory: C:\Users\suka1\AppData\Local\pip\Cache\wheels\28\29\36\408f83545a511c43d03ef997a1dc99b49ccd5f9f306ed92468
Successfully built python-mnist
Installing collected packages: python-mnist
Successfully installed python-mnist-0.6

You are using pip version 18.1, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [12]:
from mnist import MNIST

In [13]:
mndata = MNIST(Path)

In [17]:
mndata.gz = True

In [18]:
train_images, train_labels = mndata.load_training()

In [19]:
test_images, test_labels = mndata.load_testing()

In [21]:
type(train_images)

list

In [22]:
len(train_images)

60000

In [23]:
type(train_labels)

array.array

In [24]:
len(train_labels)

60000

In [27]:
print(len(train_images[2]), len(train_images[10548]) , len(train_images[37458])) # Looking at individual elements

784 784 784

In [28]:
print(type(train_images[2]), type(train_images[10548]) , type(train_images[37458])) # Each item is a list of 784 (28 X 28) pixel values

<class 'list'> <class 'list'> <class 'list'>

In [30]:
print(train_labels[2], train_labels[10548] , train_labels[37458])

0 8 3

In [32]:
print(len(test_images[2]), len(test_images[2548]) , len(test_images[7548]))

784 784 784

In [33]:
print(test_labels[2], test_labels[2500])

1 6

# Combining Lists into Dataframes

In [34]:
import pandas as pd

In [35]:
train = pd.DataFrame(train_images)

In [36]:
train.shape

(60000, 784)

In [37]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,119,114,130,76,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,22,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,33,96,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
train.tail()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
59995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
59998,0,0,0,0,0,0,0,0,0,0,...,66,54,50,5,0,1,0,0,0,0
59999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
train['Label'] = train_labels

In [43]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,Label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1,0,0,0,0,0,1,0,0,0,0,...,114,130,76,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,22,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,33,96,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
test = pd.DataFrame(test_images)

In [45]:
test.shape

(10000, 784)

In [46]:
test['Label'] = test_labels

# Saving as csv files

In [47]:
train.to_csv(Path + 'Fashion-MNIST-Train.csv', header = True, index = False)
test.to_csv(Path + 'Fashion-MNIST-Test.csv', header = True, index = False)